   <powershell>
    echo "ELS Build: ${buildnumber}" | Out-File -FilePath C:\inetpub\wwwroot\test.txt
    echo "ELS Build: ${buildnumber}" | Out-File -FilePath C:\inetpub\wwwroot\index.html
    </powershell>